.icon-48-players {
      background-image: url(../images/l_players.png);
      padding-left:60px!important;
}

.icon-48-player {
      background-image: url(../images/l_players.png);
      padding-left:60px!important;
}

